body{
    background-color: #FDFCE5 ;
    font-family: cursive;
    text-align: center;
}
img{
   
    height: 100px;
    display: list-item;

    
}
hr{
    background-color: black;
    border-style: dotted;
    height: 2px;
    width: 50%;
    
}
h1{
    color:aquamarine
}
h3{
    color:aquamarine;
}
.bio
{
    margin-left: 25%;
}